{{extend 'layout.html'}}
<link href="{{=URL('static','css/style.css')}}" rel="stylesheet" type="text/css"/>
 <link href="{{=URL('static','css/clean-blog-min.css')}}" rel="stylesheet" type="text/css"/>

<div class="colorme">
<head>

    {{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
          <h1>
          <small>{{=response.subtitle or ''}}</small></h1><br><small style="color:#00008B"></small><br>
          <br><small>
              <br>
          
          </small>
      </div>
    </header>
{{end}}
</head>
    
    <center><div class="dropdown ">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Facebook Feed
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <!--plugin-->
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1768279960123517";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


   <center><div class="fb-page" data-href="https://www.facebook.com/shaversApps/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shaversApps/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shaversApps/">Just Between Us - JBTUS</a></blockquote></div></center> 
    </div>     
        </div>
<!-- Main Content -->
<center>
    <div class="container" ><div id="container">
        
        <!--carousel-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

    <div class="carousel-inner" role="listbox">
          {{for image in single:}}

                <div class="item active"><a href="{{=URL('default','category1')}}">
              <img src="{{=URL('default','download', args=image.image)}}" style="width:158px; height:158px;"
                   alt="">
              <div class="carousel-caption">
                <h4>{{=image.category}}</h4></a>
                <small></small>
              </div>
            </div>

        {{pass}}

      {{for image in images:}}

           <div class="item"><a href="{{=URL('default',image.category)}}">
          <img src="{{=URL('default', 'download', args=image.image)}}"
             style="width:158px; height:158px;" alt="">
          <div class="carousel-caption">
              <h4>{{=image.category}}</h4></a>
            <small></small>
          </div>
        </div>

    {{pass}}
                    
  <!-- Wrapper for slides  ../images/hype.png-->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!--end of carousel-->

  <br><hr style="height: 3px;
    background-color:#8B0000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;"><br>

        <div class="row"><br>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

  </div>
</div>
                {{for page in pages:}}<a href="{{=URL('show',args=page.id)}}">
                <img src="{{=URL('default', 'download', args=page.featured_image)}}" class="media-object"
                     style="width:158px; height:158px;"></a><div class="post-preview">
                    <a href="{{=URL('show',args=page.id)}}">
                        <h2 class="post-title">
                            {{=page.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{=page.subtitle}}
                        </h3>
                    </a>
            <p class="post-meta">Posted by <strong>{{=page.created_on}}</strong> </p>
                 <hr style="height: 1px;
    background-color:#8B0000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;"><br>{{pass}}

                </div>

        <br><br>   </center>                        <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{=URL('default', 'show_all')}}">Older Posts &rarr;</a>
                    </li>
                   </ul>
            </div>
        </div>
    </div>
<br>
       
            
<hr style="height: 3px;
    background-color:#8B0000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;"><br><br>
{{pass}}



<br><br>




{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('How did you get here?')}}</p>
<ol>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
  <li>{{=XML(T('Which called the function %s located in the file %s',
    (A(request.function+'()',_href='#'),
    A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
    _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
  <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
    A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
    _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}

{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
{{end}}
    </div></div>
